.modal-body{
  background-color: gainsboro;
}

.modal-header{
  background-color: lightsteelblue;
}

.err-msg {
  color: red;
  margin-bottom: 20px;
}

.body {
  height: 150px;
  min-height: 40px;
  max-height: 300px;
}

.title {
  height: 40px;
  min-height: 40px;
  max-height: 200px;
}

.add-post-btn{
  float: right;
  margin-right: 50px;
}

.submit {
  margin-right: 20px;
}

